@{
    ViewBag.Title = "About Bob's Bakery";
    ViewBag.Message = "Quality. Passion. History.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>All of Bob's recipes have been handed down by generations of family bakers. Bob's Bakery believes in sourcing the very best ingredients and delivering the very best product. Our friendly and knowledgeable staff will make you feel right at home.</p>
