@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Where to find Bob!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 Awesomesauce Blvd<br />
    Sometown, MA 12345-4121<br />
    <abbr title="Phone">P:</abbr>
    425.758.3241
</address>

<address>
    <strong>Wholesale Opportunites:</strong>   <a href="mailto:wholesale@bobbakes.com">wholesale@bobbakes.com</a><br />
    <strong>Catering:</strong> <a href="mailto:catering@bobbakes.com">catering@bobbakes.com</a>
</address>